<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If the requested file or directory does not exist,
  # route the request to index.php with query parameters.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [L]
</IfModule>